*:before,:after{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
}

/*--- header ---*/


w100{
    width: 100%;
}

.mn-link{
    display: block;
    max-width: 1527px;
    width: 100%;
    margin: 0px;
    height: 1000px;
    overflow: hidden;
    /*background: url("../images/main2.jpg");*/
}

.gyros{
    display: block;
    margin: 0 auto;
    width: 300px;
}

.main-background{
    width:100%;
    object-fit: cover;
    position: relative;
    bottom: 115px;
    z-index: -1;
}

.mn-link .sc-body{
    display: block;
    padding-top: 37px;
    margin: 0;
    padding-bottom: 42px;
    text-align: center;
    padding-left: 0;
}

.links{
    display: block;
    width: 100%;
}

.links li {
    list-style: none;
    display: inline-block;
    margin-right: 32px;
    position: relative;
    left: 121px;
}

.section{
    text-decoration: none;
    font-family: 'Open Sans',sans-serif;
    font-size: 26px;
    color: white;
    letter-spacing: 2.2px;
    text-transform: uppercase;

    
}

.section:hover{
    color: #361e12;
    text-decoration: none;
    transition-delay: .02s;
}

.bd-link{
    display: block;
    margin: 0 auto;
    text-align: center;
    position:relative;
    bottom: 303px;
}

.in-link {
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    font-size: 23px;
    background-color:#ff8346;
    color: black;
    vertical-align: bottom;
    height: 68px;
    border: none;
    border-radius: 48px 48px;
    padding: 0 43px;
}


.in-link a{
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    letter-spacing: 2.2px;
    text-transform: uppercase;

}

/*---Main-section---*/

.menu{
    display: block;
    max-width: 1524px;
    overflow: hidden;
    border-bottom: 3px solid #f4805a;

}

.main {
    display: block;
    max-width: 1527px;
    width: 100%;
}


.left{
    display: inline-block;
    width: 689px;
    margin-top: 40px;
    margin-left: 113px;
    vertical-align: top;
}


.right1{
    display: block;
    max-width:1501px;
    width: 100%;
    margin: 0 auto;
    text-align: center;


}

.content{
    display:block;
    vertical-align: top;
    width: 100%;

}

.items{
    padding: 0;
    margin: 0;
    display: block;
    width: 200px;
}

.title {
    display: block;
    font-size: 54px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.2px;
    margin-bottom: 41px;
    margin-top: 78px;
    color: #ff8346;
}

.names {
    display: inline-block;
    font-size: 19px;
    letter-spacing: 2.2px;
    font-family: 'roboto',sans-serif;
    font-weight: 900;
    width: 190px;
    color: #e8b816;
    text-shadow: 1px 1px black;
}

.list{
    display: block;
    list-style: none;
    font-size: 12px;
    font-family: 'roboto',sans-serif;
    font-weight: 700;
    letter-spacing: 2.2px;
    margin-top: 18px;
    color: #c5594d;
    text-shadow: 0.5px 0.5px black;

}

.hide{
    display: none;
}

.hide:hover {
    display: block;
    font-size: 20px;

}

.b-main{
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 75px;
}

.pdf{
    display: block;
    width: 300px;
    font-size: 30px;
    font-family: 'Open Sans',sans-serif;
    margin: 0 auto;
    border: 1px solid;
    padding: 10px;
    text-decoration: none;
    color: white;
    letter-spacing: 2.2px;
    font-weight: 900;
    text-transform: uppercase;
    background: #ff8346;
    border-radius: 48px 48px;
}

/* attempt 2 in making a slide with js---*/
/*
#slides {
    position: relative;
    height: 300px;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.slide{
    position: absolute;
    left: -36px;
    top: 0px;
    width: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
    color: #c84d00;
    max-width: 900px;
    width: 100%;
}

.slide img{
    max-width: 663px;
    height: 516px;
    width: 100%;
    object-fit: cover;
}

.slide :nth-of-type(1){
    background-image: url(../images/appt1.jpg);

}

.slide :nth-of-type(2){
   background-image: url(/images/gyrofries2.jpg); 
}

.slide :nth-of-type(3){
    background-image: url(/images/gyrosalad2.jpg);
}

.slide :nth-of-type(4){
    background-image: url(/images/chicknp2.jpg);   
}

.slide :nth-of-type(5){
    background-image: url(/images/chickenplate.jpg);
}

.slide :nth-of-type(6){
    background-image: url(/images/chickenpita5.jpg);
}

.slide :nth-of-type(7){
    background-image: url(/images/burger1.jpg);
}
.showing{
    opacity: 1;
    z-index: 2;
}
*/
/*--- new menu section test ---*/


.image-cropper{
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
    margin-top: 30px;
    margin-left: 52px;
}



.image-cropper h2{
    color: black;
    padding: 5px;
}

.description {
    display: inline-block;
    width: 300px;
    margin-left: 52px;
    font-size: 18px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    padding: 0;
    text-align: center;
    margin-right: 20px;
    color: black;
    margin-top: 27px;
    vertical-align: top;
}

#rg{
    background-position-x: 30px;
}

.description .m-head{
    text-align: center;
}

.m-head{
    display: block;
    font-size: 30px;
    letter-spacing: 1.2px;
    font-family: 'Open Sans', sans-serif;
    width: 300px;
    color: #ff8346;
    margin-bottom: 2px;
}

.item-info{
    font-size:14px;
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-weight: 300px;
    color: black;
    font-weight: 500;
}

.price {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 34%;
    margin-top: 30px;
    font-size: 38px;
    letter-spacing: 3.2px;
    font-weight: 700;
}

/*--- Reviews---*/

.reviews {
    display: block;
    width: 100%;
    border-bottom: 3px solid #f4805a;
    height: 554px;
    background: #ffc5b4;
}

.reviews .title{
    margin: 0 auto;
    display: block;
}


.reviews .inside{
    position:  relative;
    padding: 100px 300px;
}


#slides{
    position: relative;
    height: 300px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    width: 100%;
    text-align: center;
}


.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;
    font-size: 40px;
    padding: 132px 30px;
    font-family: 'Open Sans',sans-serif;
    color: black;
    
}


.slide::nth-of-type(1){
    background: red;
}


.slide::nth-of-type(2){
    background: orange;
}

.slide::nth-of-type(3){
    background: green;
}


.slide::nth-of-type(4){
    background: blue;
}

.slide::nth-of-type(5){
    background: purple;
}


.showing{
    opacity: 1;
    z-index: 2;
}

.contact{
    display: block;
    width: 100%;
}

.contact .inside{
    display: block;
    width: 1380px;
    margin: 0 auto;
    padding-top: 59px;
}

.left-info{
    display: inline-block;
    width: 450px;
    margin-left: 40px;
    margin-right: 50px;
    padding-top: 100px;

}

.left-info h2{
    display: block;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 1.2px;s
}


.find-us{
    display: inline-block;
    width: 800px;

}

.find-us img{
    display: inline-block;
    width: 110px;
    height: 113px;
    object-fit: cover;
    margin-right: 77px;
    margin-top: 30px;
}

.find-us h2{
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    width: 150px;
    margin: 0 auto;
    padding: 10px;

}


@keyframes example{
    from{background-color:#7e5757;}
    to {background-color:#d45a4b;}
}


@media screen and (max-width: 780px){
    
    .mn-link{
        display: block;
        width: 100%;
        max-width: 780px;
        height: 507px;
    }

    .links{
        display: block;
        width: 100%;
    }

    .links li{
        margin-right: 20px;
        position: relative;
        right: 0;
        left: 0;
    }

    .mn-link .sc-body{
        display: block;
        width: 100%;
        margin: 0 auto;
        padding-left: 20px;
    }

    .menu{
        display: block;
        width: 100%;
    }

    .reviews {
        display: block;
        width: 100%;
    }

    #slides{
        position: relative;
        width: 500px;
        right: 30%;
        margin: 0 auto;
        top: 37px;
        left: -33px;
    }

    .reviews .inside{
        padding: 36px  80px;
        width: 100%;
        padding: 0;
    }

    .contact{
        display: block;
        width: 100%;
    }

    .contact .inside{
        display: block;
        width: 100%;
        padding-top: 35px;
    }


    .left-info{
        display: block;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        padding-top: 2px;
    }

    .left-info h2{
        display: block;
        width: 100%;
        padding-top: 2px;

    }

    .find-us {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .find-us img{
        margin-right: 20px;
    }

    



}

